<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="dojoMetaData" point="org.eclipse.equinox.http.registry.resources">
	        <resource alias="/maqetta/app/metadata/dojo/1.8" base-name="/WebContent/metadata" />
	        <resource alias="/maqetta/app/static/lib/dojo/1.8" base-name="/WebContent/dojo"/>
	        <resource alias="/maqetta/app/static/lib/weblab/1.8" base-name="/WebContent/weblab"/>
	</extension>
	
      <extension point="maqetta.core.server.ajaxLibrary">
         <ajaxLibrary name="dojo" id="dojo" version="1.8">
            <libraryPath location="WebContent/dojo" source="WebContent/dojo-src" name="/lib/dojo"></libraryPath>
            <metadata location="app/metadata/dojo/1.8" />
         </ajaxLibrary>
        <ajaxLibrary name="dojo based themes" id="DojoThemes" version="1.8" required="true">
	         <libraryPath location="WebContent/maqetta/themes" name="/themes"></libraryPath>
	    </ajaxLibrary>
	     <ajaxLibrary name="weblab" id="weblab" version="1.8">
            <libraryPath location="WebContent/weblab" source="WebContent/weblab" name="/lib/weblab"></libraryPath>
            <metadata location="app/metadata/dojo/1.8/weblab" />
         </ajaxLibrary>
         
      </extension>
      
</plugin>
